@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
    font-family: "Montserrat", cursive, sans sersif;
    background-color: #f3f4f6 ;
  }
/* ---------------------------------- Home Page */
.nav-bar {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    height: 6rem;
    align-items: center;
    padding-right: 20px;
    position: fixed;
    width: 100%;
    opacity: 0.9;
    -webkit-box-shadow: 0 4px 4px -6px;
    -moz-box-shadow: 0 4px 4px -6px;
    box-shadow: 0 4px 4px -6px;
}

.name {
    margin-right: 25%;
    font-size: 22px;
    align-self: center;
    justify-self: center;
}

button {
    font-size: 16px;
    height: 40px;
    width: 80px;
    border: none;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 20px;
    color:rgb(207, 9, 9);

}
button:hover {
    color:black;
    text-decoration: underline;
}

#content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagecontainer {
    margin-top: 120px;
    background-image: url(../images/cooking-fish.jpg);
    background-repeat: none;
    width: 1250px;
    height: 750px;
    border-radius: 8px;
}

.award {
    line-height: 1.6;
    margin-top: 3rem;
    color: black;
    font-size: 28px;
    text-align: center;
    font-style: italic;
}

.grid-container {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    height: 100rem;
    width: 62%;
    gap: 30px;
}


.grid-child1 {
    margin-left: 4rem;
    width: 70%;
    font-size: 24px;
    line-height: 1.6;
    text-align: center;
    align-self: center;
}

.grid-child2 {
    width: 100%;
    height: 100%;
    display: flex;
}

img {
    object-fit: cover;
    max-height: 100%;
    width: 100%;
    border-radius: 4px;
}

.image1 {
    background-image: url(../images/Pepijn-Fleur-2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

.image2 {
    background-image: url(../images/seafoodbar.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

.image3 {
    background-image: url(../images/keuken.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

.image4 {
    background-image: url(../images/mensen.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

.grid-child4 {
    margin-left: 5rem;
    width: 70%;
    font-size: 24px;
    line-height: 1.6;
    text-align: center;
    align-self: center;
}

.grid-child5 {
    margin-left: 5rem;
    width: 70%;
    font-size: 24px;
    line-height: 1.6;
    text-align: center;
    align-self: center;
}

.grid-child8 {
    margin-left: 5rem;
    width: 70%;
    font-size: 24px;
    line-height: 1.6;
    text-align: center;
    align-self: center;
}

.quote-bar-one {
    display: flex;
    height: 15rem;
    width: 100%;
    background-color: white;
    margin-top: 8rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.quote-title {
    color: rgb(163, 43, 43);
    font-size: 20px;
    font-weight: bold;
}

.quote-text {
    font-style: italic;
}

.quote-bar-two {
    display: flex;
    height: 15rem;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

/* ---------------------------------- Menu Page */

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem ;
    width: 100%;
    height: 25rem;
    background-color: white;
}

.menu-title {
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.menu-text-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    text-align: center;
    font-size: 24px;
}

.menu-text1 {
    margin-bottom: 2em;
}

.menu-nav-bar {
    width: 100%;
    height: 14rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 4px;
    border: 2px solid black;
}

.button-1, .button-2, .button-3 {
    background-color: rgb(181, 103, 103);
    color: white;
    border-radius: 0;
    min-width: fit-content;
}

